
<header>
    <div class="logo">Demarcheur</div>
    <ul class="menuLink">
        <li><a href="{% url 'menage:home' %}">Home</a></li>
        <li><a href="{% url 'menage:contact' %}" >Contact</a></li>
        <li><a href="{% url 'menage:apropos' %}">A propos</a></li>
    </ul>
    
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}" class="btn-sigin">LogOut</a>
    {% else %}
        <a href="{% url 'accounts:login' %}" class="btn-sigin">Connexion</a>
    {% endif %}
        
    <img src="../../static/images/hambuger-open.png" alt="" class="hanbuger-open">
    <img src="../../static/images/hambuger-close.png" alt="" class="hanbuger-close">
</header>

    