
.banner{
    margin-top: 8vh;
    background-image: url('../images/banner.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.9rem + 3vw);
    text-transform: uppercase;
    font-weight: 900;
    padding: 0px 20%;
    text-align: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 100px;
    z-index: 1;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

.card{
    width: 300px;
    height: 500px;
    margin: 5px;
    background-color: var(--color--white);
    box-shadow: 0px 0px 9px #a69e9eba;
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 300px;
    height: 300px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.menu-name{
    font-size: 1.2rem;
    padding: 10px 0px;
    text-align: center;
}


/* ======================================details============================
 */
.trait{
    border: solid 1px aliceblue;
    margin-top: 10px;
}
.detail-section{
    display: flex;
    margin-top: 8vh;
    min-height: 92vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.detail-container{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 10px; */
}
.detail-image{
    width: 95%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
}
.detail-image img{
    width: 100%;
    border-radius: 10px;
    border: 1px cadetblue solid;
}
.detail-cnt{
    padding: 0px 10px;
    /* margin: 0px 10px; */
    border: solid 1px transparent;
}
.detail-desc-cnt, .detail-service-cnt{
    border: 1px cadetblue solid;
    padding: 5px;
    background-color: ghostwhite;
    border-radius: 10px;
}
.detail-service-cnt{
    background-color: rgb(73, 70, 70);
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 350px;
    overflow: scroll;
}
.card-service{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 4px cadetblue;
    gap: 100px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(var(--color--light),var(--color--light),var(--color--white),hsl(252deg 23% 93%),var(--color--light));
}
.card-service img{
    width: 80px;
    height: 80px;
}
.card-service-body{
    display: flex;
    justify-content: flex-start;
}
.card-service-body h3{
    text-align: center;
}
.detail-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}
.detail-desc{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.pourquoi{
    grid-column: span 2;
}

.hidden{
    opacity: 0;
    transform: translateY(15%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    transform: translateY(0);
}

/* ======================Menages=================== */

.detail-service-cnt h2{
    color: white;
    text-align: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    transition: all 1.5s;
}
.demande-header{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    color: #94f7e6;
    box-shadow: 0px 0px 6px cadetblue;
    border-radius: 50px;
    margin: 10px 0px;
    transition: all 0.3s;
}

.form-header{
    flex: 50%;
    text-align: center;
    border-radius: 50px;
    padding: 5px 0px;
    transition: all .5s;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
}
.form-header.active{
    box-shadow: 1px 0px 8px cadetblue;
    transition: all .5s;
}
.demande-body{
    display: flex;
    flex-wrap: nowrap;   
}
.form{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    gap: 10px;
    transition: display 1.5s;
}

.form.cacher{
    display: none;
    /* visibility: hidden;
    opacity: 0; */
    transition: display 0.5s;
}

.form.color{
    background-color: #313131;
    border-radius: 50px;
    transition: background-color 0.3s;
}
.form-control{
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border-radius: 8px;
    border: transparent 2px;
    box-shadow: 0px 0px 2px;
}
.btn-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ============================Soumettre===================== */

.soumettre{
    margin-top:8vh;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soumettre-container, .modal-content{
    background-color: #f4f9f8;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    z-index: 2;
    border-radius: 25px;
}
.soumettre-container.cacher{
    display: none;
}
.modal-content{
    display: none;
    z-index: 10;

}
.modal-content.modal-open{
    display: flex;
}

.contact{
    margin-top: 8vh;
    padding: 20px;
}
.contact-cnt{
    margin: 50px;
    background-color: white;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px var(--color--gray);
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input[type='submit']:hover{
    background-color: #94f7e6;
    cursor: pointer;
    user-select: none;
}
.form-height{
    height: 200px;
}
textarea{
    background-color: #defaf5;
}

@media screen and (max-width:900px){
    .slogan{
        font-size: 1.2rem;
        padding: 0px 50px;
    }
    .detail-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        align-items: center;
    }
}
