{% extends 'menage/layouts/base.html' %}

{% block content %}
<section class="contact">
    <div class="contact-cnt">
        <div class="contact-form">
            <input type="email" placeholder="Email" name="email" required="True" class="form-control">
            <textarea class="form-control form-height" placeholder="Votre message" name="message" id="" required="True"></textarea>
            <input type="submit" class="form-control">
        </div>
    </div>
</section>
{% endblock content %}