{% extends 'menage/layouts/base.html' %}

{% block content %}
<section class="detail-section">
    <div class="detail-container">
        <div class="detail-image">
            <img src=" {{ service.image.url }} " alt="Pas d'image">
        </div>
        <div class="detail-cnt">
            <div class="service-name">
                <h2> {{service.name}} </h2>
            </div>
            <div class="detail-desc">
                {{service.description}}
            </div>
            <hr class="trait">
            <div class="detail-option">
                <a href="{% url 'menage:contact' %}" class="btn">Nous Contacter</a>
            </div>
        </div>
        <div>
            <h2 class="titre">Pourquoi nous contacter ?</h2>
            <p>-Vous ganez du temps et benificiez d'un service de ménages professionnel de qualité. <br>
            -les prestations qui s'adaptent à vos horaires: les agents de notre entreprise peuvent respecter certains horaires de ménage prédéfinis.
            </p>
        </div>
    </div>
</section>

{% endblock content %}
    