{% extends 'menage/layouts/base.html' %}


{% block content %}
<div class="banner">
    <h2>Demarcheur </h2>
    <p>Service pro pour entreprise et particulier</p>
</div>
<div class="slogan">
    Nous vous aidons dans votre quotidient
</div>
<div class="container-menu">
    <section class="menu">
        {% for menu in menus %}
        <a href=" {% url 'menage:detail' menu.id %} ">
            <div class="card hidden">
                <img src=" {{ menu.image.url }} " alt="Pas d'image">
                <div class="card-body">
                    <h2 class="menu-name">{{ menu.name }}</h2>
                    <p> {{menu.description|truncatewords:30}}</p>
                </div>
            </div>
        </a>  
        {% endfor %}
            
    </section>
</div>

{% endblock content %}
    
    