{% extends 'menage/layouts/base.html' %}

{% block content %}
<section class="detail-section">
    <div class="detail-container">
        <div class="detail-image">
            <img src=" {{ service.image.url }} " alt="Pas d'image">
        </div>
        <div class="detail-cnt">
            <div class="detail-desc-cnt">
                <div class="menu-name">
                    <h2> {{service.name}} </h2>
                </div>
                <div class="detail-desc">
                    {{service.description}}
                </div>
            </div>
            <hr class="trait">
            <div class="detail-service-cnt">
                <h2 class="titre">Soumettre votre demande</h2>
                <div class="demande-form">
                    <div class="demande-header">
                        <div id="btnPart" class="form-header active">Particulier</div>
                        <div id="btnEntr" class="form-header">Entreprise</div>
                    </div>
                    <div class="demande-body" id="cntForm">
                        <div class="form" id="partForm">
                            <form method="post" action="#" name="particulier">
                                {% csrf_token %}
                                <input type="text" placeholder="Nom" name="name"  class="form-control">
                                <input type="email" placeholder="Email" name="email"  class="form-control">
                                <input type="text" placeholder="Tél" name="tel"  class="form-control">
                                <input type="text" placeholder="Adresse" name="adresse"  class="form-control">
                                <div class="btn-cnt">
                                <button type="submit" name="particulier" class="btn">Soumettre</button>
                                </div>
                            </form>
                        </div>
                        <div class="form cacher" id="entrForm">
                            <form method="post" name="entreprise"  action="#">
                                {% csrf_token %}
                                <input type="text" placeholder="Nom Entreprise" name="name"  class="form-control">
                                <input type="email" placeholder="Email" name="email"  class="form-control">
                                <input type="text" placeholder="Tél" name="tel"  class="form-control">
                                <input type="text" placeholder="Adresse" name="adresse"  class="form-control">
                                <div class="btn-cnt">
                                    <button type="submit" name="entreprise" class="btn">Soumettre</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-option">
                <a href="{% url 'menage:contact' %}" class="btn">Nous Contacter</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
    