{% extends 'menage/layouts/base.html' %}

{% block content %}
<section class="detail-section">
    <div class="detail-container">
        <div class="detail-image">
            <img src=" {{ service.image.url }} " alt="Pas d'image">
        </div>
        <div class="detail-cnt">
            <div class="detail-desc-cnt">
                <div class="menu-name">
                    <h2> {{service.name}} </h2>
                </div>
                <div class="detail-desc">
                    {{service.description}}
                </div>
            </div>
            <hr class="trait">
            <div class="detail-service-cnt">
                <h2 class="titre">Soumettre votre demande</h2>
                <div class="demande-form">
                    
                </div>
            </div>
            <div class="detail-option">
                <a href="{% url 'menage:contact' %}" class="btn">Nous Contacter</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
    